<!DOCTYPE html>
<html>
    <head>
        <title> <%=title%> </title>
    </head>
    <body>

        <!-- header section -->

        <!-- <%- include('_header'); %> -->
        <h1> Codeial / <%=title%> </h1>
        <!-- <%- include('_footer'); %> -->

        <!-- footer section -->
    </body>
</html>