<!DOCTYPE html>
<html>
    <head>
        <title> <%=title%> </title>
    </head>
    <body>
        <h1> Codeial / <%=title%> </h1>
        <section id = "feed-posts">
            <h4>Posts</h4>
            <% if(locals.user){%>
            <form action="/posts/create" id="new-post-form" method = "POST">
                <textarea name="content" cols="30" rows="3" placeholder="Text Here ..."></textarea>
                <input type="submit" value="Post">
            </form>
            <%}%>

            <div id ="posts-list-container">
                <ul>
                    <% for(post of posts){%>
                        <li>
                            <%=post.content%>
                            <small>
                                <%=post.user%>
                            </small>
                        </li>
                    <%}%>
                </ul>
            </div>
        </section>
    </body>
</html>